#group_chat .chat-friend-toggle .chat-frind-content {
    width: 200px;
}

#group_chat .chat-frind-content li {
    cursor: pointer;
}

.messages .groupuser {
    overflow: auto;
    padding-bottom: 5px;
    z-index: 101;
    position: relative;
}

.messages .groupuser .gr-profile {
    flex-shrink: 0;
}
