.config-submenu .nav-link.active {
    border-color: transparent;
    box-shadow: unset;
    color: #7367f0;
    background-color: transparent;
}

#contact-list .chat-main .bg-img {
    border-radius: 20px;
    width: 50px;
    height: 50px;
}

#profileImageUploadBtn {
    background-color: gray;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    cursor: pointer;
}

.contact-list-tab li .chat-box .date-status {
    top: 0px;
}

.emojis-main .contact-poll .contact-poll-content {
    left: 0px;
    bottom: 80px;
}

.chitchat-main .message-input input {
    flex: 1;
}


#detailRequestModal .modal-footer {
    display: flex;
    justify-content: center;
}

#detailRequestModal .modal-footer .btn-sm {
    padding: 5px 20px;
}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

#detailRequestModal .request-description {
    height: 150px;
    font-size: 14px;
    margin-top: 10px;
    border: 1px solid lightgray;
    padding: 10px 20px;
}

#detailRequestModal .request-title,
#detailRequestModal .request-price {
    font-size: 20px;
    color: darkgreen;
}

#detailRequestModal .sender-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid salmon;
}

.section-py-space {
    display: none;
    width: 100%;
    text-align: center;
}

.section-py-space .custom-container {
    margin-top: 45px;
    border-left: 1px solid lightgray;
}

.sidebar-active .chitchat-container .chitchat-main.section-py-space {
    width: 100%;
}

ul.request-list li {
    background-color: #d5c5d6;
    border: 1px solid #83bb83;
    box-shadow: 0 0 3px rgb(0 0 0 / 80%);
    border-radius: 5px;
    margin-bottom: 2px;
}

ul.request-list li.sent {
    background-color: #ddf0fc;
}

ul.request-list li .chat-box .date-status {
    top: -4px;
}

ul.request-list li .chat-box .date-status .status {
    padding-top: 0;
}

ul.request-list li .date-status div {
    font-size: 20px;
    font-weight: bold;
    color: darkred;
}


.contact-chat>ul>li.replies.photo-request .msg-box li h5 {
    border-radius: 15px 0 0 15px;
    border-right: 5px solid darkorange;
    background-color: darkseagreen;
}

.contact-chat>ul>li.sent.photo-request .msg-box li h5 {
    border-radius: 0px 15px 15px 0px;
    border-left: 5px solid darkorange;
    background-color: darkseagreen;
}

ul.chatappend .msg-box div {
    width: 60px;
    height: 50px;
    background-image: url(/images/camera-icon.png);
    text-align: center;
    background-size: 100% 100%;
    font-size: 23px;
    line-height: 55px;
    font-weight: bold;
    color: darkred;
}
.input-file {
    display: none;
}
.dropdown-menu .input-btn {
    width: 30px;
    height: 25px;
}
.dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.input-btn {
    width: 50px;
    height: 40px;
    margin: 5px 20px;
    cursor: pointer;
}

#back_canvas {
    
    border: 1px solid gray;
}
.canvas-container {
    flex-shrink: 0;
    width: 350px !important;
    height: 350px !important;
    /* background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid gray; */
}
#back_canvas, .upper-canvas {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
}

#createPhoto .modal-header {
    justify-content: flex-start;
}
#createPhoto .modal-title {
    margin-right: 25px;
}
.request-container {
    position: relative;
}
#image-processing {
    width: 105px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.emojis {
    width: 70px;
    height: 350px;
    overflow: auto;
}
.emojis img {
    margin-bottom: 5px;
}

.blur img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 35px;
    right: -5px;
}
.blur .blur-range {
    -webkit-appearance: slider-vertical;
    width: 30px;
    height: 180px;
    position: absolute;
    top: 75px;
    right: -5px;
}
#send-photo {
    position: absolute;
    bottom: 10px;
    right: -10px;
}

@media (max-width: 1366px) {

    .sidebar-active .chitchat-container .chitchat-main.section-py-space {
        width: 100%;
    }
}


@media (max-width: 1199.98px) {    
    .chitchat-main .messages .contact-details .left.media .media-body {
        display: block;
    }
}

@media (max-width: 1024px) {

    .chitchat-main .messages .contact-details .media-body h5,
    .chitchat-main .messages .contact-details .media-body .h5 {
        display: block;
    }
}
