body {
    -webkit-text-size-adjust: 100%;
}

.config-submenu .nav-link.active {
    border-color: transparent;
    box-shadow: unset;
    color: #7367f0;
    background-color: transparent;
}

#contact-list .chat-main .bg-img {
    border-radius: 20px;
    width: 50px;
    height: 50px;
}

#profileImageUploadBtn {
    background-color: gray;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    cursor: pointer;
}

.contact-list-tab li .chat-box .date-status {
    top: 0px;
}

.emojis-main .contact-poll .contact-poll-content {
    left: 0px;
    bottom: 80px;
}

.chitchat-main .message-input input {
    flex: 1;
}

#detailRequestModal .modal-footer {
    display: flex;
    justify-content: center;
}

#detailRequestModal .modal-footer .btn-sm {
    padding: 5px 20px;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

#detailRequestModal .request-content {
    width: 100%;
}

#detailRequestModal .request-description {
    height: 150px;
    font-size: 14px;
    margin-top: 10px;
    border: 1px solid lightgray;
    padding: 10px 20px;
}

#detailRequestModal .request-title,
#detailRequestModal .request-price {
    font-size: 20px;
    color: darkgreen;
}

#detailRequestModal .sender-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid salmon;
}

.section-py-space {
    display: none;
    width: 100% !important;
    text-align: center;
}

.section-py-space .custom-container {
    margin-top: 45px;
    border-left: 1px solid lightgray;
}

.sidebar-active .chitchat-container .chitchat-main.section-py-space {
    width: 100%;
}

ul.request-list li {
    background-color: #d5c5d6;
    border: 1px solid #83bb83;
    box-shadow: 0 0 3px rgb(0 0 0 / 80%);
    border-radius: 5px;
    margin-bottom: 2px;
}

ul.request-list li.sent {
    background-color: #ddf0fc;
}

ul.request-list li .chat-box .date-status {
    top: -4px;
}

ul.request-list li .chat-box .date-status i {
    font-size: 15px;
    margin-left: 10px;
}

ul.request-list li .chat-box .date-status .status {
    padding-top: 0;
}

ul.request-list li .date-status div {
    font-size: 20px;
    font-weight: bold;
    color: darkred;
}

.contact-chat>ul>li.replies.photo-request .msg-box li h5 {
    border-radius: 15px 0 0 15px;
    border-right: 5px solid darkorange;
    background-color: darkseagreen;
}

.contact-chat>ul>li.sent.photo-request .msg-box li h5 {
    border-radius: 0px 15px 15px 0px;
    border-left: 5px solid darkorange;
    background-color: darkseagreen;
}

ul.chatappend .msg-box .camera-icon {
    width: 60px;
    height: 50px;
    background-image: url(/images/camera-icon.png);
    text-align: center;
    background-size: 100% 100%;
    font-size: 23px;
    line-height: 55px;
    font-weight: bold;
    color: darkred;
}

.input-file {
    display: none;
}

.input-btn {
    width: 50px;
    height: 40px;
    margin: 5px 20px;
    cursor: pointer;
}

#createPhoto .modal-dialog,
#photo_item .modal-dialog {
    max-width: 600px;
}

#createPhoto .modal-header {
    justify-content: flex-start;
}

#createPhoto .modal-title {
    margin-right: 25px;
}

#createPhoto .price-mode,
#createPhoto .text-input {
    position: absolute;
    top: 70px;
    left: 16px;
    font-size: 16px;
}

#createPhoto .text-input {
    left: 100px;
}

#createPhoto .modal-body {
    overflow: auto;
}

.price-text {
    display: flex;
    align-items: center;
}

.price-tool {
    margin-right: 5px;
}

.text-tool {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex: 1;
}

.text-tool .text {
    width: 150px;
    height: 30px;
}

.text-tool .font-family {
    width: 110px;
    height: 30px;
}

.text-tool .font-style {
    display: flex;
}

.text-tool .font-style span {
    line-height: 30px;
    font-size: 17px;
    cursor: pointer;
    padding: 0 2px;
}

.text-tool .font-style span.active {
    background-color: gray;
}

.text-tool .font-style span.italic {
    width: 15px;
    font-style: italic;
    margin-left: 5px;
}

.text-tool .font-style span.bold {
    font-weight: bold;
}

.text-tool .btn {
    padding: 0 10px;
}

.photo-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.canvas-container {
    min-width: 400px !important;
    min-height: 400px !important;
    border-radius: 5px;
}

.emojis-tool {
    text-align: center;
}

.input_emojis {
    margin: 3px auto;
    border: 1px solid;
    text-align: center;
    padding: 5px;
}

.input_emojis .input-btn {
    width: 30px;
    height: 20px;
    margin: 0 auto;
}

.emojis-tool .emojis {
    height: 360px;
    overflow-y: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
}

.tool-box {
    display: flex;
    justify-content: space-between;
}

.blur-tool {
    width: 60%;
    display: flex;
    align-items: center;
    text-align: center;
}

.blur-tool img,
#photo_item .blur-image img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.blur-tool input {
    margin-left: 10px;
}

.save-send {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

#back_canvas,
#photo_canvas,
.upper-canvas {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    border: 1px solid gray;
    border-radius: 5px;
}

.receive_photo {
    cursor: pointer;
    border-radius: 15px;
}

#photo_item .modal-content {
    flex-direction: row;
    padding: 10px;
    padding-left: 0;
}

#photo_item .rate-blur {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#photo_item .blur-tool img {
    cursor: pointer;
}

#photo_item .modal-content .photo-price {
    text-align: center;
    font-size: 20px;
    color: firebrick;
    font-weight: bold;
}

#photo_item .modal-content .btn-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

#photo_item .modal-content .btn-group .btn {
    flex: initial;
    border-radius: 10px;
    padding: 10px 20px;
}

#photo_item .modal-content .btn-group .btn img {
    height: 45px;
    box-shadow: 1px 1px 3px rgb(0 0 0 / 80%);
    border-radius: 5px;
    padding: 5px 15px;
}

#photo_item .modal-content .btn-group .btn img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

#photo_item .modal-content .selected-emojis {
    position: absolute;
    top: 3px;
    left: 75%;
}

#photo_item .modal-content .selected-emojis img {
    width: 20px;
    height: 20px;
}

#photo_item .blur-image {
    text-align: center;
}

.colorPicker {
    width: 30px;
    height: 30px;
    background-color: #4700B3;
    border-radius: 5px;
    outline: 1px solid rgba(0, 100, 0, 0.938);
    outline-offset: 1px;
}

#backColorPicker {
    background-color: #C4E6C1;
}

.colorpicker {
    z-index: 2500;
}

.lock-tool {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lock-tool .icon-btn {
    width: 30px;
    height: 30px;
}

.lock-tool.lock .fa-lock,
.lock-tool.unlock .fa-unlock-alt {
    display: block;
}

.lock-tool.lock .fa-unlock-alt,
.lock-tool.unlock .fa-lock {
    display: none;
}

.msg-box>li h5,
.msg-box>li .h5,
.msg-box>li .document,
.msg-box>li .auto-gallery {
    display: inline-block;
    padding: 16px 25px;
    background-color: #1c9dea;
    color: #fff;
    border-radius: 0 25px 25px 0;
    font-weight: 600;
}

.chatappend .sent .msg-dropdown .deleteMessageBtn {
    display: none;
}

.chatappend .sent .msg-dropdown .rateBtn {
    margin-bottom: 0;
}

@media (max-width: 1366px) {
    .sidebar-active .chitchat-container .chitchat-main.section-py-space {
        width: 100%;
    }
}

@media (max-width: 1199.98px) {
    .chitchat-main .messages .contact-details .left.media .media-body {
        display: block;
    }
}

@media (max-width: 1024px) {
    .chitchat-main .messages .contact-details .media-body h5,
    .chitchat-main .messages .contact-details .media-body .h5 {
        display: block;
    }
}

@media (max-width: 767.98px) {
    .modal-dialog-centered .modal-content {
        overflow: auto;
    }
}

@media (max-width: 650px) {
    #createPhoto .modal-dialog,
    #photo_item .modal-dialog {
        max-width: 500px;
    }
    .modal-body {
        padding: 8px;
    }
    .canvas-container {
        min-width: 350px !important;
        min-height: 350px !important;
    }
    .emojis-tool .emojis {
        height: 310px;
        grid-gap: 5px;
    }
    .emojis img {
        width: 45px;
        height: 45px;
    }
    .colorPicker {
        width: 15px;
    }
    .text-tool .text {
        width: 120px;
    }
    .text-tool .font-style span.italic {
        width: 10px;
    }
    .text-tool .btn {
        padding: 0 10px;
    }
}

@media (max-width: 510px) {
    #createPhoto .modal-dialog,
    #photo_item .modal-dialog {
        max-width: 500px;
    }
    #createPhoto .modal-body {
        padding: 5px;
    }
    .canvas-container {
        min-width: 300px !important;
        min-height: 300px !important;
        margin-top: 10px;
        border-radius: 5px;
    }
    #createPhoto .price-mode,
    #createPhoto .text-input {
        top: 55px;
    }
    .emojis-tool .emojis {
        height: 260px;
    }
    .text-tool .text {
        width: 110px;
    }
    .text-tool .font-family {
        width: 90px;
    }
}